# Files and directories created by pub
.DS_Store
.dart_tool/
.packages
.pub/

# Omit commiting pubspec.lock for library packages:
# https://dart.dev/guides/libraries/private-files#pubspeclock
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/

coverage

*:Zone.Identifier

.flutter-plugins
.flutter-plugins-dependencies
