name: sodium
description: Dart bindings for libsodium, for the Dart-VM and for the Web
version: 3.4.7
homepage: https://github.com/Skycoder42/libsodium_dart_bindings

environment:
  sdk: ^3.11.0
resolution: workspace

dependencies:
  ffi: ^2.2.0
  freezed_annotation: ^3.1.0
  meta: ^1.17.0

dev_dependencies:
  args: ^2.7.0
  build_runner: ^2.11.1
  cider: ^0.2.10
  code_builder: ^4.11.1
  collection: ^1.19.1
  coverage: ^1.15.0
  dart_pre_commit: ^6.1.1+1
  dart_test_tools: ^7.0.2
  ffigen: ^20.1.1
  freezed: ^3.2.5
  mocktail: ^1.0.4
  path: ^1.9.1
  test: ^1.29.0
  web: ^1.1.1

ffigen:
  output: "lib/src/ffi/bindings/libsodium.ffi.dart"
  name: LibSodiumFFI
  description: "Bindings of libsodium"
  preamble: |
    // ignore_for_file: unused_field
  headers:
    entry-points:
      - "test/integration/binaries/linux/include/sodium.h"
  compiler-opts:
    - "-I/usr/lib/clang/20/include/"
  exclude-all-by-default: true
  macros:
    include:
      - SODIUM_.*
      - CRYPTO_.*
      - RANDOMBYTES_.*
      - sodium_.*
      - crypto_.*
      - randombytes_.*
  globals:
    include:
      - SODIUM_.*
      - CRYPTO_.*
      - RANDOMBYTES_.*
      - sodium_.*
      - crypto_.*
      - randombytes_.*
  enums:
    include:
      - SODIUM_.*
      - CRYPTO_.*
      - RANDOMBYTES_.*
      - sodium_.*
      - crypto_.*
      - randombytes_.*
  structs:
    include:
      - sodium.*
      - crypto.*
      - randombytes.*
  unions:
    include:
      - sodium.*
      - crypto.*
      - randombytes.*
  functions:
    include:
      - sodium.*
      - crypto.*
      - randombytes.*
  typedefs:
    include:
      - sodium.*
      - crypto.*
      - randombytes.*

cider:
  link_template:
    tag: https://github.com/Skycoder42/libsodium_dart_bindings/releases/tag/sodium-v%tag%
    diff: https://github.com/Skycoder42/libsodium_dart_bindings/compare/sodium-v%from%...sodium-v%to%

dart_pre_commit:
  pull-up-dependencies:
    allowed:
      - meta
