name: sodium
description: Dart bindings for libsodium, for the Dart-VM and for the Web
version: 3.4.7
homepage: https://github.com/Skycoder42/libsodium_dart_bindings

environment:
  sdk: ^3.11.0
resolution: workspace

dependencies:
  code_assets: ^1.0.0
  crypto: ^3.0.7
  ffi: ^2.2.0
  freezed_annotation: ^3.1.0
  hooks: ^1.0.1
  meta: ^1.17.0

dev_dependencies:
  analyzer: ^10.0.1
  args: ^2.7.0
  build_runner: ^2.11.1
  cider: ^0.2.10
  code_builder: ^4.11.1
  collection: ^1.19.1
  coverage: ^1.15.0
  dart_pre_commit: ^6.1.1+1
  dart_style: ^3.1.5
  dart_test_tools: ^7.0.2
  ffigen: ^20.1.1
  freezed: ^3.2.5
  glob: ^2.1.3
  mocktail: ^1.0.4
  path: ^1.9.1
  test: ^1.29.0
  web: ^1.1.1

cider:
  link_template:
    tag: https://github.com/Skycoder42/libsodium_dart_bindings/releases/tag/sodium-v%tag%
    diff: https://github.com/Skycoder42/libsodium_dart_bindings/compare/sodium-v%from%...sodium-v%to%

dart_pre_commit:
  pull-up-dependencies:
    allowed:
      - meta
