name: Continous Integration for package sodium

env:
  PACKAGE_NAME: sodium

on:
  workflow_dispatch:
  push:
    branches:
      - "*"
    paths:
      - "packages/sodium/**"
      - ".github/workflows/sodium_ci.yaml"
  pull_request:
    branches:
      - "*"
    paths:
      - "packages/sodium/**"
      - ".github/workflows/sodium_ci.yaml"

defaults:
  run:
    working-directory: packages/sodium

jobs:
  dart_ci:
    uses: Skycoder42/dart_test_tools/.github/workflows/dart.yml@main
    with:
      workingDirectory: packages/sodium
      buildRunner: true
      unitTestPaths: test/unit
      coverageExclude: >-
        **/*.freezed.dart
        **/*.ffi.dart
        **/*.js.dart
      publishExclude: lib/src/.gitignore

  # test:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       platform:
  #         - linux
  #         - windows
  #         - macos
  #         - web
  #         - web-sumo

  #       include:
  #         - platform: linux
  #           os: ubuntu-latest
  #           system: vm
  #         - platform: windows
  #           os: windows-latest
  #           system: vm
  #         - platform: macos
  #           os: macos-latest
  #           system: vm
  #         - platform: web
  #           os: ubuntu-latest
  #           system: js
  #         - platform: web-sumo
  #           os: ubuntu-latest
  #           system: js
  #           integrationTestArgs: --sumo

  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: dart-lang/setup-dart@v1
  #     - uses: actions/checkout@v2
  #     - name: install libsodium (linux)
  #       if: matrix.platform == 'linux'
  #       run: |
  #         sudo apt-get -qq update
  #         sudo apt-get -qq install libsodium-dev
  #     - name: install libsodium (macos)
  #       if: matrix.platform == 'macos'
  #       run: brew install libsodium
  #     - name: install minisign (windows)
  #       if: matrix.platform == 'windows'
  #       run: choco install minisign -y
  #     - name: fetch libsodium
  #       run: dart run scripts/fetch_libsodium.dart ${{ matrix.platform }}
  #       working-directory: .
  #     - run: dart pub get
  #     - run: dart run build_runner build
  #     - run: dart analyze --fatal-infos
  #     - run: dart format -onone --set-exit-if-changed .
  #     - run: dart run tool/test_runner.dart -munit -c -p${{ matrix.system }}
  #     - run: dart run tool/test_runner.dart -mintegration -p${{ matrix.system }} ${{ matrix.integrationTestArgs }}
  #     - uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
  #       with:
  #         path: packages/${{ env.PACKAGE_NAME }}/coverage/lcov.info
  #         min_coverage: 95
  #         exclude: >-
  #           **/*.freezed.dart
  #           **/*.ffi.dart
  #           **/*.js.dart
  #     - run: dart run tool/publish.dart --dry-run

  # release:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - test
  #   if: github.ref == 'refs/heads/main'
  #   outputs:
  #     update: ${{ steps.version.outputs.update }}
  #     tag_name: ${{ steps.version.outputs.tag_name }}
  #   steps:
  #     - uses: dart-lang/setup-dart@v1
  #     - uses: actions/checkout@v2
  #     - uses: Skycoder42/action-dart-release@v1
  #       id: version
  #       with:
  #         src_dir: packages/${{ env.PACKAGE_NAME }}
  #     - name: Create Release
  #       if: steps.version.outputs.update == 'true'
  #       uses: actions/create-release@v1
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       with:
  #         tag_name: ${{ env.PACKAGE_NAME }}/v${{ steps.version.outputs.tag_name }}
  #         release_name: ${{ env.PACKAGE_NAME }} - ${{ steps.version.outputs.release_name }}
  #         body_path: ${{ steps.version.outputs.body_path }}

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - release
  #   if: needs.release.outputs.update == 'true'
  #   steps:
  #     - uses: dart-lang/setup-dart@v1
  #     - uses: actions/checkout@v2
  #     - run: dart pub get
  #     - run: dart run build_runner build
  #     - name: store credentials
  #       run: |
  #         mkdir -p ~/.pub-cache
  #         echo '${{ secrets.PUB_DEV_CREDENTIALS }}' > ~/.pub-cache/credentials.json
  #     - run: dart run tool/publish.dart --force
  #     - name: clean up credentials
  #       if: always()
  #       run: shred -fzvu ~/.pub-cache/credentials.json

  # doc:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - release
  #   if: needs.release.outputs.update == 'true'
  #   steps:
  #     - uses: dart-lang/setup-dart@v1
  #     - uses: actions/checkout@v2
  #     - run: dart pub get
  #     - run: dart run build_runner build
  #     - run: dartdoc --show-progress
  #     - name: upload doc
  #       uses: peaceiris/actions-gh-pages@v3
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         publish_dir: packages/${{ env.PACKAGE_NAME }}/doc/api
  #         commit_message: Updated documentation to v${{ needs.release.outputs.tag_name }}
  #         destination_dir: ${{ env.PACKAGE_NAME }}
